/* hacked */

.ve-ui-MWChartInsertDialog-select > .oo-ui-searchWidget-results {
    top: 7em;
}
.ve-ui-MWChartInsertDialog-select > .oo-ui-searchWidget-query {
    top: 4em;
}
.helpText-widget {
    padding: 10px 0 0 10px;
}

.ve-ui-MWChartInsertDialog-select {

}