/* hacked */

.ve-ui-MWChartInsertDialog-select > .oo-ui-searchWidget-results {
    top: 7em;
}
.ve-ui-MWChartInsertDialog-select > .oo-ui-searchWidget-query {
    top: 3em;
}
.helpText-widget {
    padding: 10px 0 0 0;
}